<div class="container">
  <h1>Ask a question to your coach!</h1>
  <h2>or not, just go back to work.</h2>

    <form action="answer" class="form-text">
      <div class="input">
        <input type="text" name="user_questions">
      </div>
      <div class="button">
        <input type="submit" value="Ask!">
      </div>
    </form>


</div>
